<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baijudodhia.photoml">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialAppTheme">
        <!-- Loading Firebase ML-Kit Vision Model with name model -->
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="model" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ImageGallery" />
        <activity
            android:name=".activity.FullImage"
            android:parentActivityName=".activity.FullImage"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".activity.ImageScan"
            android:parentActivityName=".activity.ImageScan"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
    </application>

</manifest>